{% extends 'core/base.html' %}
{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Cliente" %}
{% endblock titulo %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Menú de Usuarios</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'cliente:usuarios_create' %}" class="btn btn-primary btn-lg btn-block">Agregar Usuario Nuevo</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'cliente:usuarios_list' %}" class="btn btn-success btn-lg btn-block">Lista de Clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
