{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Lista de Usuarios"%}
{% endblock titulo %}

{% block contenido %}
    <div class="py-lg-4">
        <form action="" method="get" class="input-group">
        <input type="text" name="consulta" class="form-control" placeholder="Buscar...">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>
        </form>
    </div>
    
    <div class="container">
        <div class="row">
            {% for usuario in usuarios %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ usuario }}</h5>
                            <p class="card-text">Apellido: {{ usuario.apellido }}</p>
                            {% if usuario.tarjeta_id %}
                                <p class="card-text text-muted">Tarjeta: {{ usuario.tarjeta_id }}</p>
                            {% else %}
                                <p class="card-text text-muted">No se registró tarjeta</p>
                            {% endif %}
                            
                            {% if usuario.pais_origen_id %}
                                <p class="card-text">País de origen: {{ usuario.pais_origen_id }}</p>
                            {% else %}
                                <p class="card-text text-muted">No se registró país de origen</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'core:home' %}" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>


    {# Descomentar lo de abajo cuando tenga hecho detail, update y delete #}
    {% comment  %}
    {% for categoria in categorias %}
        <ul>
            <li>{{ categoria.nombre }}
                <a href="{% url 'cliente:usuarios_detail' categoria.id %}">Detalle</a>
                <a href="{% url 'cliente:usuarios_update' categoria.id %}">Cambiar</a>
                <a href="{% url 'cliente:usuarios_delete' categoria.id %}">Eliminar</a>
            </li>
        </ul>
    {% endfor %}
    
    {# Lo de abajo es como estaba antes, aca esta el object_list, abarca todo #}
    
    {% for producto in object_list %}
        <ul>
            <li>{{ producto.nombre }}
                <a href="{% url 'producto:productocategoria_detail' producto.id %}">Detalle</a>
                <a href="{% url 'producto:productocategoria_update' producto.id %}">Cambiar</a>
                <a href="{% url 'producto:productocategoria_delete' producto.id %}">Eliminar</a>
            </li>
        </ul>
    {% endfor %}
    
    <div class="fs-3 pb-4">
        <a href="{% url 'producto:home' %}" class="btn btn-outline-primary btn-lg">
          <i class="bi bi-arrow-left"></i> Volver a Producto
        </a>
    </div>
    {% endcomment %}
{% endblock contenido %}

