{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Productos: Detalles del Producto"%}
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Nombre:</strong> {{ object.nombre }}
        </li>
        <li class="list-group-item">
            <strong>Código:</strong> {{ object.codigo }}
        </li>
        <li class="list-group-item">
            <strong>Puntos:</strong> {{ object.puntos }}
        </li>
        <li class="list-group-item">
            <strong>Precio revista:</strong> ${{ object.precio_revista }}
        </li>
        <li class="list-group-item">
            <strong>Descripción:</strong> {{ object.descripcion }}
        </li>
    </ul>

    <div class="fs-3 pb-4 mt-4">
        <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-primary">Volver</a>
    </div>
</div>

{% endblock contenido %}
