{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Lista de Productos"%}
{% endblock titulo %}

{% block contenido %}
    <div class="py-lg-4 px-5 ">
        <form action="" method="get" class="input-group">
        <input type="text" name="consulta" class="form-control" placeholder="Buscar...">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>
        </form>
    </div>

    <div class="row px-2"> <!-- Agregar margen a los costados -->
        {% for producto in object_list %}
            <div class="col-md-4 mb-4"> <!-- Ajustar el margen inferior a mb-4 y reducir el grosor de las tarjetas -->
                <div class="card border-0"> <!-- Agregar la clase 'border-0' para eliminar los bordes de las tarjetas -->
                    <div class="card-body text-center"> <!-- Agregar 'text-center' para centrar el contenido -->
                        {% if producto.foto_producto %}
                            <img src="{{ producto.foto_producto.url }}" class="img-fluid" alt="{{ producto.nombre }}">
                        {% else %}
                        <div class="alert alert-info">
                            <p>No hay imagen disponible para este producto.</p>
                        </div>
                        {% endif %}
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">Puntos: {{ producto.puntos }}</p>
                        <p class="card-text">Precio revista: ${{ producto.precio_revista }}</p>
                        <p class="card-text text-muted">Última actualización: {{ producto.fecha }}</p>
                        <div class="d-flex justify-content-center"> <!-- Centrar el grupo de botones -->
                            <div class="btn-group">
                                <a href="{% url 'producto:productocategoria_detail' producto.id %}" class="btn btn-sm btn-outline-primary">Detalle</a>
                                {% if user.is_authenticated %}
                                <a href="{% url 'producto:productocategoria_update' producto.id %}" class="btn btn-sm btn-outline-secondary">Cambiar</a>
                                <a href="{% url 'producto:productocategoria_delete' producto.id %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div><div class="row px-2"> <!-- Agregar margen a los costados -->
            {% endif %}
        {% endfor %}
    </div>
    
    
    

    
    <div class="fs-3 pb-4">
        <a href="{% url 'producto:home' %}" class="btn btn-outline-primary btn-lg">
          <i class="bi bi-arrow-left"></i> Volver a Producto
        </a>
    </div>
      
{% endblock contenido %}
