{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    
{% endblock titulo %}

{% block contenido %}
<section class="about-section my-5">
    <div class="container">
        <!-- Introducción -->
        <div class="row mb-4">
            <div class="col text-center">
                <h2 class="text-primary">Sobre Mí</h2>
            </div>
        </div>

        <!-- Información personal -->
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Hola, soy <strong>Alan!</strong></h3>
                        <p class="card-text">Vivo en una tranquila ciudad llamada <strong>Junin</strong>. Desde chico me intereso todo lo relacionado a la computación. Mi primer pequeño sueño fue crear un videojuego, aunque la idea se me fue un poco al momento de ver los precios de las carreras que me podrían ayudar a cumplir ese objetivo</em>.</p>
                        <p class="card-text">Años después decidí estudiar <strong>Ing en Informatica</strong>. Despues de 3 años de estudiar muy vagamente, la deje. Sentí no solo que no podía seguir el ritmo, sino que <strong>no</strong> me estaba enganchando realmente <em>(a pesar que lo empecé con mucha ilusión)</em></p>
                        <p class="card-text">Este año lo comencé pensando en que podría estudiar un curso de programación, pensé que podria ayudarme a orientar qué camino tomar. Ahora terminando el curso, puedo decir con mucha seguridad, que lo que me gusta realmente es justamente esto! <strong>Programar!</strong></p>
                        <p class="card-text">Por supuesto que apenas estoy comenzando, pero no pienso detenerme. Pensé que un <em>"simple curso"</em> no me ayudaría realmente, y que equivocado que estaba! Este curso me ayudo muchísimo a qué es lo que quiero y cómo voy a avanzar. No me queda más que agradecerles por el maravilloso trabajo que hicieron, profesores y tutores!</p>
                    </div>
                </div>
            </div>

            <!-- Imagen de ejemplo o espacio para contenido adicional -->
            <div class="col-md-6">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <img src="{% static 'core/img/nosotros.jpg' %}" class="img-fluid" alt="">
                        <p class="card-text">Esta foto es con mi novia <strong>Carla</strong>. Ella no solo me recomendó Coderhouse, sino que fue quien me motivó a comenzar programación, la que me incentivó a hacer todo esto y a que quiera seguir expandiendo este lindo mundo de la programación!</p>
                        <p class="card-text">Además, todo mi proyecto esta basado en ella. Aparte de estudiar <em>(curiosamente Ing en informática jaja)</em> trabaja vendiendo productos de Natura y justos surgió la idea para mi proyecto</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Habilidades -->
        <div class="row mb-4">
            <div class="col">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h3 class="card-title"><strong>¿Qué cursos tengo planeado continuar?</strong></h3>
                        <ul class="list-group">
                            <li class="list-group-item">1: <em>Desarrollo Web (ya inscripto)</em></li>
                            <li class="list-group-item">2: <em>Reacts Js</em></li>
                            <li class="list-group-item">3: <em>Ciberseguridad</em></li>
                            <li class="list-group-item">4: <em>SQL</em></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botón para volver atrás -->
        <div class="row">
            <div class="col text-center">
                <a href="javascript:history.back()" class="btn btn-primary">Volver Atrás</a>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}